<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="SysOut" target="SYSTEM_OUT">
			<PatternLayout pattern="%style{[%d{HH:mm:ss}]}{WHITE} [%highlight{%t}{ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}/%highlight{%level}{ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}] (%style{%logger{1}}{CYAN}) %msg{nolookups}%n"
						   disableAnsi="false"
						   noConsoleNoAnsi="false"/>
		</Console>

		<Queue name="ServerGuiConsole">
			<PatternLayout pattern="[%d{HH:mm:ss} %level]: %msg{nolookups}%n" />
		</Queue>

		<RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="[%d{HH:mm:ss}] [%highlight{%t}{ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}/%level]: %msg{nolookups}%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<!-- Root logger -->
		<Root level="info">
			<filters>
				<MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY" onMismatch="NEUTRAL" />
			</filters>
			<AppenderRef ref="SysOut"/>
			<AppenderRef ref="File"/>
		</Root>

		<!-- Specific logger for ovo.xsvf set to DEBUG -->
		<Logger name="ovo.xsvf" level="debug">
			<AppenderRef ref="SysOut"/>
			<AppenderRef ref="File"/>
		</Logger>
	</Loggers>
</Configuration>
